<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Your messages</h2>
    <a href="/new">New message</a>
    <% if (locals.messages) { %>
    <ul>
      <% locals.messages.forEach(function(message) { %>
      <li>
        <p>
          <%= message.user %>: <%= message.text %>
          <a href="/message/<%= message.id %>">View details</a>
        </p>
      </li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
